body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #bfcebb;
  color: black;
  padding: 20px;
}
main {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
section {
  background-color: #f7f7f7;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 h2 {
  color: #333;
  margin-bottom: 10px;
}
p {
  margin-bottom: 20px;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  clear: both;
}
